

footer {
  margin-top: 50px;
  font-style: italic;
}

.contacto {
  margin-top: 100px;
  font-style: italic;
  display: flex;
  flex-direction: column; /* Cambia la dirección del contenedor a columna */
  align-items: center; /* Centra los elementos horizontalmente */
  text-align: center; /* Centra el texto */
  width: 100%;
  background-color: #D9D9D9;
  padding: 40px 0;
  box-sizing: border-box;
}

.social-icons {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.social-icons li {
  margin-right: 10px;
}

.social-icons li:last-child {
  margin-right: 0;
}

.social-icons a {
  color: #333;
  text-decoration: none;
  font-size: 24px;
}


